@import url("styles/colors.css");

body {
  background-color: grey !;
  padding: 10px;
  font-size: 22px !important;
  font-family: Sans-serif;
  margin-top: 20px !important;
}

a : hover{
  border: 2px solid limegreen;
  border-radius: 20px !important;
  color: black !important;
}